$mainblue:#00cccc;
$textcolor:#757572a8;
$textwhite:#ffffff;
$colorinfo:#17a2b8;
$colorblack:#29293d;
$colorblack2:#2b2b47;
body{
	margin: 0;
	padding: 0;
}

/*==========Nav Start==============*/
#nav_bar{
	font-family: "Lobster","san-serifs";
}

#main_logo{
	color: $mainblue;
}
.searchbar{
	position:relative;
}
#search_icon{
	right: 10px;
	top:10px;
	font-size: 18px;
	position: absolute;
	z-index: 1000;
	color: $textcolor;
}
.basekt_icon_side{
	position: relative;
}

#shopping_basket{
	color:$mainblue;
	font-size: 2rem;
}
#basket_price{
	font-weight:600;
	color: $textcolor;
	position: absolute;
	top:3px;
    font-size: 18px;
}

/*=============Menu_bar_Start============*/
.menu_bar{
	background-color: #00cccc;
	.menu_text{
	color: $textwhite;
	text-decoration: none;
	margin-right: 5px;
	font-size: 13px;
	}
	.menu_text1{
		color: $textwhite;
		text-decoration: none;
		margin-right: 5px;
		font-size: 13px;
	}
	.menu_text::after{
		content:" ";
		position:relative;
		top:3px;
		left: 14px;
		padding-top: 1px;
		padding-right: 2px;
		background-color: $textwhite;
	}
}

/*=============Carousel_slide_Start====*/

#slide_show_product{
	color: $textwhite;
	.slide_text_header{
		font-weight: 600;
	}	
	#slide_text_content{
		font-size: 13px;
	}
}
/*===========Featured_Start===========*/
#card{
	border:1px solid #ccc9c979;
	position: relative;
	box-shadow: -2px 3px 7px $textcolor;
	&:hover{box-shadow: 2px 3px 7px $textcolor;cursor: pointer;}
	#view_btn{
		margin-left: 10px;
		padding: 3px 10px;
		background-color:$mainblue;
		color:$textwhite;
		border-radius: 4px;
		font-size: 16px;
		border: 1px solid $mainblue;
		&:hover{
			color: $textcolor;
		}
	}
}
.card_text{
	color: $textcolor;
}
#card_btn_featured{
	background-color: $mainblue;
	padding:2px 12px;
	border:1px solid $mainblue;
	border-radius: 4px;
	color:$textwhite;
	font-size: 13px;
	margin-left: 7px;
	&:hover{
		color: $textcolor;
	}
}
/*===========Featured_Bar_Start===========*/
#featured_bar{
	background-color: $mainblue;
	#featured_bar_text{
		color: $textwhite;
	}
}
/*=========All_Products_Start============*/
#card_for_product{
	@extend #card;
	border-bottom: 4px solid $mainblue;
	#all_product_text{
		color: $textcolor;
	}
	#all_product_btn{
		padding: 3px 10px;
		color: $textwhite;
		margin-left: 10px;
		border-radius: 4px;
		border: 1px solid $mainblue;
		background-color: $mainblue;
		font-size: 16px;
		&:hover{
			color: $textcolor;
		}
	}
	
}
/*=========Footer_Bar_Start================*/

#footer_bar{
	background-color: $mainblue;
	#footer_bar_items{
		background-color: $mainblue;
		color: $textwhite;
		border:0px !important; 

	}
	#footer_bar_list{
		#header{
			font-size: 18px;
			font-weight: 600;
			padding-bottom: 9px;
			border-bottom:2px solid $textwhite;

		}
		background-color: $mainblue;
	}

}	

/*============Copy_Right================*/
#copy_right{
		color:$textwhite;
		font-size: 14px;
}

/*===========Admindashboard==============*/

/*==========Side_Start===================*/
#menu_side_bar{
	width:130px;
	background-color: $mainblue;
	height:100vh;
	position: absolute;
	position: fixed;
	#side_profile{
		padding-top: 15px;
		width: 100%;
		height: 125px;
		overflow: hidden;
		background-color:$mainblue;
		border-bottom: 4px solid $colorinfo;
	}
	.profile_img{
		border-radius: 50%;
	}
	.profile_text_name{
		margin-top: 10px;
		margin-bottom: 1px;
		font-size: 10px;
		color: $textwhite;
	}
	.profile_text{
		font-size: 10px;
		color: $textcolor;
	}
	#side_menu_text{
		color: $textwhite;
		font-weight: 600;
		font-size: 12px;
	}
	#side_menu_text_item{
		padding-top: 5px;
		padding-bottom: 5px;
		border-bottom: 1px solid $colorinfo;
		box-shadow:0px 2px 3px $colorinfo;
		&:hover{
			background-color: $colorinfo;
		}
		i{
			margin-right: 3px;
		}
	}
}

/*=========Top_Bar===============*/
#top_bar{
	background-color: $mainblue;
	.clock{
		color: $colorblack;
	}
	#clock_icon{
		color:$colorblack2;
		margin-right: 10px;
		font-size: 20px;
		
	}
}

/*=========Digit_View============*/

#digit_show_card{
	height: 100px;
	padding-top: 20px;
	border: 2px solid $mainblue;
	margin-top: 20px;
	margin-right:30px;
	box-shadow: 3px 3px 5px $textcolor;
	#digit_icon_text{
		color: $textcolor;
		i{
			color: $mainblue;
			margin-right: 7px;
		}
	}
	#digit{
		margin-left: 50px;
		font-weight: 600;
	}
}
/*========ChartPage============*/

/*========Chart_table_list_Start========*/
#charts_table_list{
	button{
		box-shadow: 2px 2px 3px $textcolor;
		&:hover{
			background-color: $mainblue;
		}

	}
}

/*======TablePage=====================*/
#table_main{
	font-size: 13px;
	button{
		font-size: 12px;
		border-radius: 0px;
	}
	#table_header{
		font-size: 15px;
		padding-bottom: 5px;
		border-bottom: 2px solid $textcolor;
	}
}
#risk_table{
	border: 1px solid $textcolor;

}
#table_list{
	font-size: 14px;
	padding-bottom: 6px;
	border-bottom: 2px solid $textcolor;
}
#order_table{
	@extend #risk_table;
}
#product_table{
	@extend #risk_table;
}
/*=======Create_form_Page===============*/
#create_form_list{
	
	li{
		font-size: 13px;
		transition:all 100ms linear 100ms;
		&:hover{
			cursor: pointer;
			font-weight: 600;
		}
	}

}

/*=======Detail_Page==================*/
#product_detail{
	padding: 10px;
	#product_item{
		border: 1px solid $textcolor;
		background-color: #00cccc27;
	}
	#product_detail_content{
		font-size: 14px;
		li{
			padding-bottom:20px;
			padding-top: 20px;
			background-color:  #00cccc27;
			width: 100%;
			// color: $textwhite;
			border: 1px solid $textcolor;
			border-radius: 0px;
			color: $colorinfo;
			font-weight: 600;
		}
		#detail_size{
			width: 100px;
			font-size: 13px;
			color:$colorinfo;
			border: 1px solid $colorinfo;

		}
		#product_add_card{
			font-size: 12px;
			padding: 3px 4px;
			margin-top: -4px;
			&:hover{
				background-color: $mainblue;
			}
		}
		#product_qty{
			border: 1px solid $colorinfo;
			color: $colorinfo;
			width: 100px;
			font-weight: 600;
			font-size: 13px;
		}
	}
	
}
#comment_report{
	// background-color:  #00cccc27;
	#cmt_nav{
		border: 1px solid $mainblue;
		// border-bottom: 0px;
		border-radius: 20px;
		
	}
	#rpt_nav{
		border: 1px solid $mainblue;
		// border-bottom: 0px;
		border-radius: 20px;
	}
	margin-bottom: 50px;
	padding-bottom: 20px;
	padding-top:20px;
	#comment_nav{
		text-decoration: none;
		color: $colorblack2;
	}
	#report_nav{
		text-decoration: none;
		color:$colorblack2;
	}
	#cmt_btn{
		color: $textwhite;
	}
	#rpt_btn{
		color:$textwhite;
	}
	#comment,#report{
		textarea,input[type='text']{
			border: 1px solid $mainblue;
			background-color:  #00cccc27;
		}
	}
}
/*=======Login_Form==================*/
#login_form{
	padding:40px 30px;
	border: 1px solid $textcolor;
	background-color: #00cccc27;
	#login_header_text{
		color:$mainblue;
		font-size: 20px;
		font-weight: 600;
		border-bottom: 1px solid $mainblue;
		padding-bottom: 10px;
		margin-bottom: 50px;
		
	}
	#login_email{
		width: 300px;
		height: 38px;
		border-radius: 0px;
		border: 2px solid $colorinfo;
		margin-bottom: 50px;
		&:focus{
			box-shadow: 4px 4px 3px $textcolor;
		}
	}
	#login_label{
		margin-right: 20px;
		width:40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid $colorinfo;
		text-align: center;
		#login_icon{
			z-index: 2;
			margin-top: 9px;
			font-size: 20px;
			color: $mainblue;
		
		}
	}
	#login_pass{
		@extend #login_email;
	}
	#login_submit{
		@extend #login_email;
		background-color: $textwhite;
		color: $mainblue;
		font-size: 20px;
		font-weight: 600;
		&:hover{
			background-color: $colorinfo;
			color: $textwhite;
		}
	}
	#register_text{
		color: $textcolor;
		font-size: 15px;
		margin-right: 10px;
	}
	#create_account_text{
		text-decoration: none;
		color: $colorinfo;
	}
}
/*======Register_Form===============*/
#register_form{
	margin-bottom: 10px;
	padding:30px 30px;
	border: 1px solid $textcolor;
	background-color: #00cccc27;
	#register_header_text{
		color:$mainblue;
		font-size: 20px;
		font-weight: 600;
		border-bottom: 1px solid $mainblue;
		padding-bottom: 10px;
		margin-bottom: 40px;
		
	}
	#register_name{
		
		width: 300px;
		height: 38px;
		border-radius: 0px;
		border: 2px solid $colorinfo;
		margin-bottom: 30px;
		&:focus{
			box-shadow: 4px 4px 3px $textcolor;
		}
	}
	#register_label{
		margin-right: 20px;
		width:40px;
		height: 40px;
		border-radius: 50%;
		border: 2px solid $mainblue;
		text-align: center;
		#register_icon{
			z-index: 2;
			margin-top: 9px;
			font-size: 20px;
			color: $mainblue;
		
		}
	}
	#register_pass{
		@extend #register_name;
	}
	#register_submit{
		@extend #register_name;
		background-color: $textwhite;
		color: $mainblue;
		font-size: 20px;
		font-weight: 600;
		&:hover{
			background-color: $colorinfo;
			color: $textwhite;
		}
	}
	#register_text{
		color: $textcolor;
		font-size: 15px;
		margin-right: 10px;
	}
	#create_account_text{
		text-decoration: none;
		color: $colorinfo;
	}
}